---
import ProjectItem from './ProjectItem.astro';

interface Props {
    title: string;
    projects: [];
}
const { title, projects } = Astro.props;
---

<section class="block-section">
    <h3 class="block-section__title">{ title }</h3>
	<ul class="list">
		{ 
			projects && projects.length > 0
			? projects.map(( project ) => ( <ProjectItem project={ project } /> ))
			: "No Project Found"
		}
	</ul>
</section>

<style>
    .block-section {
        padding-bottom: 0;
        padding-top: 40px;
    }

    .block-section__title{
        margin-bottom: 40px;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
</style>