---
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
		<meta name="robots" content="noindex,nofollow">
		<meta name="generator" content={ Astro.generator } />
		<title>ALP Basic 04 - ICPNA</title>
		<ViewTransitions />
	</head>
	<body>		
		<main class="main">
			<slot />
		</main>
	</body>
</html>

<style>
	.main{
		height: 100vh;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
</style>
