---
import { ViewTransitions } from 'astro:transitions';
import { Header } from '../components';
import Global from "../styles/Global.astro"
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	isHome?: boolean;
}

const { title, isHome } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
		<meta name="generator" content={ Astro.generator } />
		<meta name="robots" content="noindex,nofollow">
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class=`${ isHome && "isHome" }` data-scroll-container>		
		<main class="main" data-scroll-section>
			<Header client:load transition:name="header"/>
			<slot />
			<Footer/>
		</main>
	</body>
</html>

<Global/>
